html {
    height: 100%;
    font-size: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #3C4053;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

main {
    display: flex;
    flex: wrap;
}

.flex-container {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    min-width: 20rem;
    background-color: #3C4053;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 40%);
}

.nav-links {
    list-style: none;
}

li, li a {
    display:flex;
    flex-direction: row;
    float: left;
    display: block;
    color: white;
    font-size: 125%;
    text-align: center;
    justify-content: center;
    padding: 10px 12px;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

.hero {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/apicellaHeadshot2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.hero-text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px black;
}

.hero-text h2 {
    font-size: 800%;
    margin-left: 50%;
}

.hero-text h3 {
    font-size: 300%;
    margin-left: 50%;
}

.hero-text p {
    font-size: 185%;
    padding-top: 6%;
    margin-left: 50%;
}

.aboutMe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 6% 10% 3% 10%;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.aboutMe h2 {
    font-size: 225%;
    padding-bottom: 10px;
}

.aboutMe p {
    font-size: 145%;
}


@media screen and (max-width: 992px) {
    nav { 
        flex-direction: row;
        font-size: 100%;
        
    }
    .hero { 
        flex-direction: column;
        font-size: 75%;
        
    }
    .hero-text { 
        flex-direction: column;
        font-size: 100%;
        margin-right: 3rem;

        
    }
     
}

@media only screen and (max-width: 768px) {
    nav { 
        flex-direction: row;
        font-size: 75%;
        ;
        
    }
    .hero { 
        flex-direction: column;
        font-size: 50%;
        
    }
    .hero-text { 
        flex-direction: column;
        font-size: 100%;
    }
}
